.popup__input {
  width: 355px;
  padding: 0;
  height: 27px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:last-of-type {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .popup__input {
    width: 238px;
  }
}