.profile {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .profile {
    align-items: center;
    max-width: calc(100% - 19px * 2);
  }
}

@media screen and (max-width: 618px) {
  .profile {
    align-items: center;
    flex-direction: column;
  }
}