.elements {
  margin: 0 auto;
  padding-top: 50px;
}

@media (max-width: 950px) {
  .elements {
    max-width: calc(100% - 19px * 2);
  }
}

@media (max-width: 767px) {
  .elements {
    padding: 36px 0 48px;
  }
}